@{
    ViewData["Title"] = "Home Page";
}
    
<div class="container" id="vista_resto_bart">
    <div class="row tipos-menu">
        @*Ciclo las categorias*@
        @foreach (var categoria in (Array)ViewData["categorias"])
        {
            <div class="col-md-3 col-sm-6">
                <a href="#@categoria">
                    <h3 class="titulo-platos">@categoria</h3>
                    <img src="images/@(categoria).png" width="250" height="250" alt="Entradas">
                </a>
            </div>
        }
    </div>

    <div class="row">
        <div id="mensaje-especial">
            <p>
                Todos nuestros platos incluyen cubiertos y mucho amor
            </p>
        </div>
    </div>

    <form asp-action="Create">
        @foreach (var categoria in (Array)ViewData["categorias"])
        {
            <div class="row seccion" id="@categoria">
                <h3 class="titulo-seccion">@categoria</h3>
                <div class="col-md-offset-1 col-md-9">
                    <ul class="listado-precios">
                        @*Ciclo el array de string de platos para mostrar el nombre*@
                        @foreach (var platos in (Array)ViewData["categorias_" + categoria])
                        {
                        <li>
                            <input class="selector-plato" type="checkbox" name="platos_pedido[]" />
                            <span class="nombre-plato">@platos</span>
                            <span class="precio-plato">$300</span>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </form>
</div>

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

    
